@model IEnumerable<ProyectoFinal.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestionar Productos</h1>

<p>
    <a asp-action="Create">Crear un nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ImagenUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria.Descripcion) <!-- Asegúrate de que 'Nombre' es la propiedad correcta de tu categoría -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImagenUrl))
                    {
                        <img src="@item.ImagenUrl" alt="@item.Nombre" style="max-width:100px; max-height:100px;" />
                    }
                    else
                    {
                        <span>No image available</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProducto">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProducto">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProducto">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
