@model IEnumerable<ProyectoFinal.Models.Carrito>

@{
    ViewData["Title"] = "Index";
}

<h1>Carrito de Compras</h1>
<div class="text-end">
    <button type="button" class="btn btn-primary">Pagar</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Producto.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Producto.Descripcion)</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar al carrito</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCarrito" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdCarrito" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdCarrito" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>